*   {
    background-color: black;
    color: rgb(15, 95, 207);
    font-family: sans-serif;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-size: 28px;
}

.description,
ul,
ol {
    font-size: 20px;
}