* {
    background-color: black;
    font-family: sans-serif;
    font-size: 25px;
    color: lightseagreen;
    margin: 10px;
}

p   {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: "Brush Script MT", sans-serif;
    color: lightseagreen;
    text-decoration: underline;
}

img {
    height: auto;
    width: 750px;
    margin-bottom: 25px;

}

.button-container {
    margin-right: auto;
    text-align: center;
    display: block; 
}

.button {
    font-size: 25px;
    font-family: sans-serif;
    margin: 8px;
    padding: 15px;
    background-color: black;
    box-sizing: border-box;
    height: 100px;
    width: 200px;
}