* {
    background-color: black;
    font-family: sans-serif;
    font-size: 18px;
    color: lightseagreen;
}

p   {
    margin-top: 50px;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: "Brush Script MT", sans-serif;
    color: lightseagreen;
    text-decoration: underline;
}

img {
    height: auto;
    width: 600px;
    margin-bottom: 25px;

}

.button-container {
    margin-right: auto;
    text-align: center;
    display: block;
}

.button {
    font-size: 24px;
    font-family: sans-serif;
    margin: 8px;
    padding: 10px;
    background-color: black;
}